pandas>=1.5.0
plotly>=5.0.0
streamlit>=1.25.0
matplotlib>=3.5.0
wordcloud>=1.8.0
scikit-learn>=1.0.0
torch>=2.0.0
transformers>=4.30.0
numpy>=1.22.0
joblib>=1.2.0
googletrans==4.0.0rc1
nltk>=3.7
sastrawi>=1.0.0